/* line 1, /Users/matimenich/rails-proyects/eskra-me/app/assets/stylesheets/landing_page.css.scss */
body, html {
  height: 100%;
  width: 100%;
}

/* line 6, /Users/matimenich/rails-proyects/eskra-me/app/assets/stylesheets/landing_page.css.scss */
.logo {
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  font-size: 28px;
  letter-spacing: -1px;
}

/* line 14, /Users/matimenich/rails-proyects/eskra-me/app/assets/stylesheets/landing_page.css.scss */
body, h1, h2, h3, h4, h5, h6 {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
}

/* line 19, /Users/matimenich/rails-proyects/eskra-me/app/assets/stylesheets/landing_page.css.scss */
.lead {
  font-size: 18px;
  font-weight: 400;
}

/* line 24, /Users/matimenich/rails-proyects/eskra-me/app/assets/stylesheets/landing_page.css.scss */
.intro-header {
  padding-top: 50px;
  /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
  padding-bottom: 50px;
  color: #f8f8f8;
  background: url(/assets/intro-bg.jpg) no-repeat center center;
  background-size: cover;
  text-align: center;
}

/* line 33, /Users/matimenich/rails-proyects/eskra-me/app/assets/stylesheets/landing_page.css.scss */
.intro-message {
  position: relative;
  padding-top: 20%;
  padding-bottom: 20%;
}

/* line 39, /Users/matimenich/rails-proyects/eskra-me/app/assets/stylesheets/landing_page.css.scss */
.intro-message > h1 {
  margin: 0;
  font-size: 5em;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
}

/* line 45, /Users/matimenich/rails-proyects/eskra-me/app/assets/stylesheets/landing_page.css.scss */
.intro-divider {
  width: 400px;
  border-top: 1px solid #f8f8f8;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

/* line 51, /Users/matimenich/rails-proyects/eskra-me/app/assets/stylesheets/landing_page.css.scss */
.intro-message > h3 {
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
}

@media (max-width: 767px) {
  /* line 56, /Users/matimenich/rails-proyects/eskra-me/app/assets/stylesheets/landing_page.css.scss */
  .intro-message {
    padding-bottom: 15%;
  }

  /* line 60, /Users/matimenich/rails-proyects/eskra-me/app/assets/stylesheets/landing_page.css.scss */
  .intro-message > h1 {
    font-size: 3em;
  }

  /* line 64, /Users/matimenich/rails-proyects/eskra-me/app/assets/stylesheets/landing_page.css.scss */
  ul.intro-social-buttons > li {
    display: block;
    margin-bottom: 20px;
    padding: 0;
  }

  /* line 70, /Users/matimenich/rails-proyects/eskra-me/app/assets/stylesheets/landing_page.css.scss */
  ul.intro-social-buttons > li:last-child {
    margin-bottom: 0;
  }

  /* line 74, /Users/matimenich/rails-proyects/eskra-me/app/assets/stylesheets/landing_page.css.scss */
  .intro-divider {
    width: 100%;
  }
}
/* line 79, /Users/matimenich/rails-proyects/eskra-me/app/assets/stylesheets/landing_page.css.scss */
.network-name {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 2px;
}

/* line 86, /Users/matimenich/rails-proyects/eskra-me/app/assets/stylesheets/landing_page.css.scss */
.content-section-a {
  background-color: #f8f8f8;
  padding: 50px 0;
}

/* line 91, /Users/matimenich/rails-proyects/eskra-me/app/assets/stylesheets/landing_page.css.scss */
.content-section-b {
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
  padding: 50px 0;
}

/* line 97, /Users/matimenich/rails-proyects/eskra-me/app/assets/stylesheets/landing_page.css.scss */
.section-heading {
  margin-bottom: 30px;
}

/* line 101, /Users/matimenich/rails-proyects/eskra-me/app/assets/stylesheets/landing_page.css.scss */
.section-heading-spacer {
  border-top: 3px solid #e7e7e7;
  width: 200px;
  float: left;
}

/* line 107, /Users/matimenich/rails-proyects/eskra-me/app/assets/stylesheets/landing_page.css.scss */
.banner {
  padding: 100px 0;
  color: #f8f8f8;
  background: url(/assets/banner-bg.jpg) no-repeat center center;
  background-size: cover;
}

/* line 114, /Users/matimenich/rails-proyects/eskra-me/app/assets/stylesheets/landing_page.css.scss */
.banner h2 {
  margin: 0;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
  font-size: 3em;
}

/* line 120, /Users/matimenich/rails-proyects/eskra-me/app/assets/stylesheets/landing_page.css.scss */
.banner ul {
  margin-bottom: 0;
}

/* line 124, /Users/matimenich/rails-proyects/eskra-me/app/assets/stylesheets/landing_page.css.scss */
.banner-social-buttons {
  float: right;
  margin-top: 0;
}

@media (max-width: 1199px) {
  /* line 130, /Users/matimenich/rails-proyects/eskra-me/app/assets/stylesheets/landing_page.css.scss */
  ul.banner-social-buttons {
    float: left;
    margin-top: 15px;
  }
}
@media (max-width: 767px) {
  /* line 137, /Users/matimenich/rails-proyects/eskra-me/app/assets/stylesheets/landing_page.css.scss */
  .banner h2 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
    font-size: 3em;
  }

  /* line 143, /Users/matimenich/rails-proyects/eskra-me/app/assets/stylesheets/landing_page.css.scss */
  ul.banner-social-buttons > li {
    display: block;
    margin-bottom: 20px;
    padding: 0;
  }

  /* line 149, /Users/matimenich/rails-proyects/eskra-me/app/assets/stylesheets/landing_page.css.scss */
  ul.banner-social-buttons > li:last-child {
    margin-bottom: 0;
  }
}
/* line 154, /Users/matimenich/rails-proyects/eskra-me/app/assets/stylesheets/landing_page.css.scss */
footer {
  background-color: #f8f8f8;
  padding: 50px 0;
}

/* line 159, /Users/matimenich/rails-proyects/eskra-me/app/assets/stylesheets/landing_page.css.scss */
p.copyright {
  margin: 15px 0 0;
}
