<div class='container-fluid'>

	<div class="row">
		<div class="col-md-6">
			<h4>Board 1</h4>
		</div>
		<div class="col-md-6">
			<div class="btn-group pull-right">
				<button class="btn btn-primary" id="add_column">
					<span class='glyphicon glyphicon-list-alt'></span> 
					Add Column
				</button>
				<button class="btn btn-success" id="add_story">
					<span class='glyphicon glyphicon-th-list'></span> 
					Add Story
				</button>
			</div>	
		</div>
	</div>
	<br>
	<div class="row">
		<div class="table-responsive">
			<table class="table table-bordered">
				<thead class="title_field">
					<tr>
						<th><h4>Story</h4></th>
						<th>
							<div class="column-title h4">
								To Do
								<button class="btn btn-xs btn-danger delete-column pull-right">
									<span class='glyphicon glyphicon-remove'></span>
								</button>
							</div>
						</th>
						<th>
							<div class="column-title h4">
						        Doing
								<button class="btn btn-xs btn-danger delete-column pull-right">
									<span class='glyphicon glyphicon-remove'></span>
								</button>
							</div>
						</th>
						<th>
							<div class="column-title h4">
								Done
								<button class="btn btn-xs btn-danger delete-column pull-right">
									<span class='glyphicon glyphicon-remove'></span>
								</button>
							</div>
						</th>
					</tr>
				</thead>
				<tbody class="column_field">
					<tr>
						<td class="story-column">Story_1
							<div class="btn-group">
								<button class="btn btn-xs btn-warning delete-story"><span class="glyphicon glyphicon-trash"> </span></button>
								<button class="btn btn-xs btn-primary add-panel-1"><span class="glyphicon glyphicon-plus"> </span></button>  
							</div>
						</td>
						<td class="column">
							<div class="panel panel-default">
								<div class="panel-heading">Feeds<i class="panel-button"></i></div>
								<div class="panel-body">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</div>
							</div>


						</td>
						<td class="column">
                            <!-- column 2 -->


						</td>
						<td class="column">
                            <!-- column 3 -->


						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>