<% content_for :head do %>
  <%= stylesheet_link_tag "landing_page", media: 'all', 'data-turbolinks-track' => true %>
<% end %>
<% content_for :title do %>
    <title> eskra.me </title>
<% end %>

<div class="intro-header">

    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1><%= t(:landing_welcome_h1) %></h1>
                    <h3><%= t(:landing_welcome_h3) %></h3>
                    <hr class="intro-divider">
                    <ul class="list-inline intro-social-buttons">
                        <li><a href="/create_board" class="btn btn-outline-inverse btn-lg"><span class="network-name"><%=t(:create_board_button)%></span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>

</div>
