<!-- Modal -->
<div class="modal fade" id="stickieOptionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      
      <div class="modal-body">
        <h4>Select Color:</h4>
        <div class="btn-group btn-group-lg btn-group-justified color-group">
          <a modal-color-class="panel-default" class="btn btn-default color-default">
            <span class="glyphicon glyphicon"></span>
          </a>
          <a modal-color-class="panel-success" class="btn btn-default color-success">
            <span class="glyphicon glyphicon"></span>
          </a>
          <a modal-color-class="panel-info" class="btn btn-default color-info">
            <span class="glyphicon glyphicon"></span>
          </a>
          <a modal-color-class="panel-warning" class="btn btn-default color-warning">
            <span class="glyphicon glyphicon"></span>
          </a>
          <a modal-color-class="panel-danger" class="btn btn-default color-danger">
            <span class="glyphicon glyphicon"></span>
          </a>
        </div>
        <hr/>
        <h4>Actions:</h4>
        <h4 class="data"></h4>
        <button type="button" class="btn btn-lg btn-primary btn-block">
          <span class="glyphicon glyphicon-link"></span> Link
        </button>
        <button type="button" class="btn btn-lg btn-danger btn-block modal-delete-stickie">
          <span class="glyphicon glyphicon-remove"></span> Delete
        </button>
      </div>
    </div>
  </div>
</div>