<!-- Modal -->
<div class="modal fade" id="stickieOptionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      
      <div class="modal-body">
        <button type="button" class="btn btn-lg btn-primary btn-block">
          <span class="glyphicon glyphicon-link"></span> Link
        </button>
        <div class="btn-group btn-group-lg btn-group-justified color-group">
          <a class="btn btn-default color-default">
            <span class="glyphicon glyphicon"></span>
          </a>
          <a class="btn btn-default color-success">
            <span class="glyphicon glyphicon"></span>
          </a>
          <a class="btn btn-default color-info">
            <span class="glyphicon glyphicon"></span>
          </a>
          <a class="btn btn-default color-warning">
            <span class="glyphicon glyphicon"></span>
          </a>
          <a class="btn btn-default color-danger">
            <span class="glyphicon glyphicon"></span>
          </a>
        </div>
        <button type="button" class="btn btn-lg btn-danger btn-block">
          <span class="glyphicon glyphicon-remove"></span> Delete
        </button>
      </div>
    </div>
  </div>
</div>