// Place all the styles related to the boards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$font-stack: 'PT Sans', sans-serif;
$max-width: 100% !important;

@mixin make-circle($radius){
  width: $radius*2;
  height: $radius*2;
  border-radius: 50%;
}

@mixin addBorderRadius($upper-left,$upper-right,$lower-left,$lower-right){
  -webkit-border-radius: $upper-left $upper-right $lower-left $lower-right;
  -moz-border-radius: $upper-left $upper-right $lower-left $lower-right;
  border-radius: $upper-left $upper-right $lower-left $lower-right;
}

.column {
  min-width: 200px;
  padding-bottom: 30px;
}

.portlet-placeholder {
  background-color: white !important;
  border: 1px dashed grey !important;
  margin: 0 1em 1em 0;
  height: 50px;
}

.dropdown-menu {
  z-index: 2000;
}

.dropdown-submenu{
  position:relative;
  .dropdown-menu{
    top:0;
    left:100%;
    margin-top:-6px;
    margin-left:-1px;
    @include addBorderRadius(6px,0,6px,6px);
  }
}
.dropdown-submenu:hover>.dropdown-menu{
  display:block;
}

.dropdown-color {
  left:-40% !important;
  min-width: 0px !important;
}

.color-circle {   
  float: left;
  @include make-circle(10px);
  border-width: 1px;
  border-style: solid;
  border-color: rgba(0,0,0,.2);
}

/* Make inline editables take the full width of the panel */
.panel-body {
  .editable-container.editable-inline {
    width: $max-width;
    .control-group.form-group {
      width: $max-width;
      .editable-input {
        width: $max-width;
        textarea {
          width: $max-width;
        }
        select{
          width: $max-width;
        }
        input:not([type=radio]):not([type=checkbox]):not([type=submit]) {
          width: $max-width;
        } 
      }
    } 
  }
}

.board-title {
  font-family: $font-stack;
  font-size: 20px;
  font-weight: bold;
}


.panel{
  font-family: $font-stack;
  font-size: 13px;
  position: relative;
  .panel-button {
      position:absolute;
      display:none;
      top: 8px;
      right:10px;
  } 
  .panel-heading:hover {
    cursor: move;
  }
  @media (min-width: 768px){
    .panel-button-mobile {
      display: none;
    }
  }
  @media (max-width: 767px){
    .panel-button-mobile {
      display: inline;
    }
    .panel-button {
      display: none;
    }
  }
} 

.navbar-nav {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
}

@media (min-width: 768px){
  .navbar-brand {
    position: absolute;
      width: 100%;
      left: 0;
      text-align: center;
      margin: auto;
  }
}

.color-group {
  padding-top: 5px;
  padding-bottom: 5px;

  .color-default {
    background-color:whitesmoke;
  }

  .color-success {
    background-color:#dff0d8;
  }

  .color-info {
    background-color:#d9edf7;
  }

  .color-warning {
    background-color:#fcf8e3;
  }

  .color-danger {
    background-color:#f2dede;
  }
}

.action-group {
  padding: 4px; 
  padding-left:12px;
}


.animated { 
    -webkit-animation-duration: 1s; 
    animation-duration: 1s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
    -webkit-animation-timing-function: ease-out; 
    animation-timing-function: ease-out; 
} 

@-webkit-keyframes hinge { 
    0% { -webkit-transform: rotate(0); -webkit-transform-origin: top left; -webkit-animation-timing-function: ease-in-out; } 
    20%, 60% { -webkit-transform: rotate(80deg); -webkit-transform-origin: top left; -webkit-animation-timing-function: ease-in-out; } 
    40% { -webkit-transform: rotate(60deg); -webkit-transform-origin: top left; -webkit-animation-timing-function: ease-in-out; } 
    80% { -webkit-transform: rotate(60deg) translateY(0); opacity: 1; -webkit-transform-origin: top left; -webkit-animation-timing-function: ease-in-out; } 
    100% { -webkit-transform: translateY(700px); opacity: 0; } 
} 
@keyframes hinge { 
    0% { transform: rotate(0); transform-origin: top left; animation-timing-function: ease-in-out; } 
    20%, 60% { transform: rotate(80deg); transform-origin: top left; animation-timing-function: ease-in-out; } 
    40% { transform: rotate(60deg); transform-origin: top left; animation-timing-function: ease-in-out; } 
    80% { transform: rotate(60deg) translateY(0); opacity: 1; transform-origin: top left; animation-timing-function: ease-in-out; } 
    100% { transform: translateY(700px); opacity: 0; } 
} 

.hinge { 
    -webkit-animation-name: hinge; 
    animation-name: hinge; 
}

@-webkit-keyframes bounceOut { 
    0% { 
        -webkit-transform: scale(1); 
    } 
    25% { 
        -webkit-transform: scale(.95); 
    } 
    50% { 
        opacity: 1; 
        -webkit-transform: scale(1.1); 
    } 
    100% { 
        opacity: 0; 
        -webkit-transform: scale(.3); 
    } 
} 
@keyframes bounceOut { 
    0% { 
        transform: scale(1); 
    } 
    25% { 
        transform: scale(.95); 
    } 
    50% { 
        opacity: 1; 
        transform: scale(1.1); 
    } 
    100% { 
        opacity: 0; 
        transform: scale(.3); 
    } 
} 
.bounceOut { 
    -webkit-animation-name: bounceOut; 
    animation-name: bounceOut; 
}

@-webkit-keyframes tada { 
    0% {-webkit-transform: scale(1);} 
    10%, 20% {-webkit-transform: scale(0.9) rotate(-3deg);} 
    30%, 50%, 70%, 90% {-webkit-transform: scale(1.1) rotate(3deg);} 
    40%, 60%, 80% {-webkit-transform: scale(1.1) rotate(-3deg);} 
    100% {-webkit-transform: scale(1) rotate(0);} 
} 
@keyframes tada { 
    0% {transform: scale(1);} 
    10%, 20% {transform: scale(0.9) rotate(-3deg);} 
    30%, 50%, 70%, 90% {transform: scale(1.1) rotate(3deg);} 
    40%, 60%, 80% {transform: scale(1.1) rotate(-3deg);} 
    100% {transform: scale(1) rotate(0);} 
} 
.tada { 
    -webkit-animation-name: tada; 
    animation-name: tada; 
}

@-webkit-keyframes bounceInLeft { 
    0% { 
        opacity: 0; 
        -webkit-transform: translateX(-2000px); 
    } 
    60% { 
        opacity: 1; 
        -webkit-transform: translateX(30px); 
    } 
    80% { 
        -webkit-transform: translateX(-10px); 
    } 
    100% { 
        -webkit-transform: translateX(0); 
    } 
} 

@keyframes bounceInLeft { 
    0% { 
        opacity: 0; 
        transform: translateX(-2000px); 
    } 
    60% { 
        opacity: 1; 
        transform: translateX(30px); 
    } 
    80% { 
        transform: translateX(-10px); 
    } 
    100% { 
        transform: translateX(0); 
    } 
} 
.bounceInLeft { 
    -webkit-animation-name: bounceInLeft; 
    animation-name: bounceInLeft; 
}

@-webkit-keyframes pulse { 
    0% { -webkit-transform: scale(1); } 
    50% { -webkit-transform: scale(1.1); } 
    100% { -webkit-transform: scale(1); } 
} 
@keyframes pulse { 
    0% { transform: scale(1); } 
    50% { transform: scale(1.1); } 
    100% { transform: scale(1); } 
} 
.pulse { 
    -webkit-animation-name: pulse; 
    animation-name: pulse; 
}

@-webkit-keyframes fadeInDownBig { 
    0% { 
        opacity: 0; 
        -webkit-transform: translateY(-2000px); 
    } 
    100% { 
        opacity: 1; 
        -webkit-transform: translateY(0); 
    } 
} 
@keyframes fadeInDownBig { 
    0% { 
        opacity: 0; 
        transform: translateY(-2000px); 
    } 
    100% { 
        opacity: 1; 
        transform: translateY(0); 
    } 
} 
.fadeInDownBig { 
    -webkit-animation-name: fadeInDownBig; 
    animation-name: fadeInDownBig; 
}

