// Place all the styles related to the boards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$font-stack: 'PT Sans', sans-serif;
$max-width: 100% !important;

body { padding-top: 50px; }

@mixin make-circle($radius){
  width: $radius*2;
  height: $radius*2;
  border-radius: 50%;
}

.column {
  min-width: 200px;
  padding-bottom: 30px;
}

.portlet-placeholder {
  background-color: white !important;
  border: 1px dashed grey !important;
  margin: 0 1em 1em 0;
  height: 50px;
}

.dropdown-menu {
  min-width: 0px !important;
}

.color-circle {   
  float: left;
  @include make-circle(10px);
  border-width: 1px;
  border-style: solid;
  border-color: rgba(0,0,0,.2);
}

/* Make inline editables take the full width of the panel */
.panel-body {
  .editable-container.editable-inline {
    width: $max-width;
    .control-group.form-group {
      width: $max-width;
      .editable-input {
        width: $max-width;
        textarea {
          width: $max-width;
        }
        select{
          width: $max-width;
        }
        input:not([type=radio]):not([type=checkbox]):not([type=submit]) {
          width: $max-width;
        } 
      }
    } 
  }
}

.board-title {
  font-family: $font-stack;
  font-size: 20px;
  font-weight: bold;
}

.panel{
  font-family: $font-stack;
  font-size: 13px;
  .panel-button {
    visibility: hidden;
  }
  :hover{
    .panel-button {
      visibility: visible;
    }
  }
} 

.navbar-nav {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
}

@media (min-width: 768px){
  .navbar-brand {
    position: absolute;
      width: 100%;
      left: 0;
      text-align: center;
      margin: auto;
  }
}

footer {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  background-color: #f8f8f8;
  padding: 50px 0;
}

p.copyright {
  margin: 15px 0 0;
}

