// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

  .column {
    width: 180px;
  }
  .column-content {
    padding-bottom: 30px;
  }
  .panel {
    margin: 0 1em 1em 0;
  }
  .portlet-placeholder {
    background-color: white !important;
    border: 1px dashed grey !important;
    margin: 0 1em 1em 0;
    height: 50px;
  }